* {
  margin-top: 0px;
  margin-bottom: 0px;
}

.video-previews {
  width: 400px;
  display: inline-block;
  margin-right: 15px;

}
.thumbnail-row1 {
  width: 400px;
  margin-bottom: 10px;
}
.image-thumbnail {
  width: 400px;
}

.channel-picture1 {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.profile-picture1 {
  width: 40px;
  border-radius: 50px;
}

.video-info {
  display: inline-block;
  width: 200px;
  margin-top: 0px;
  font-family: Roboto, arial;
  line-height: 20px;
}

.video-tittle {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}
.video-author,
 
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96); 
}
.video-author {
  margin-bottom: 4px;
}