

.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 10px;
  vertical-align: 10px;
  font-family: Roboto;
  
}

.subscribe-button:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  transition: opacity .2s;
  opacity: 0.5;
}
.join-button {
  background-color: white;
  color:rgb(25, 136, 234);
  border-color: rgb(25, 136, 234);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 2px;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  margin-left: 8px;
  margin-right: 10px;
  vertical-align: 10px;
  font-family: Roboto;
  

}
.join-button:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
  transition: 0.2s;
  background-color:rgb(2, 136, 234);
  transition: background-color 1s, color 1s;
  color: white;
 
}

.tweet-button {
  background-color: rgb(2, 136, 234);
  border-color: none;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 125px;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.30s;
  vertical-align: 10px;
  font-family: Roboto;
  
} 
.tweet-button:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.35);
  transition: 0.2s;

}
  
