.text-freecode-1h {
  font-family: Arial;
  font-size: 30px;
  margin-top: 0px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;

}
.text-free-span1 {
  color: gray;
  font-weight: 30;
  
}
.text-web-developer {
  margin-top: 0px;
  font-size: 27px;
  width: 950px;
}
.text-outline {
  font-size: 27px;
}
.text2-outline {
  color:rgb(12, 174, 174);
  font-size: 30px;
}