.name-type {
  font-size:20px;
  display: inline-block;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;


}
.email-type {
  font-size: 20px;
  display: inline-block;
  display: block;
  padding-top: 5px;
  padding-top: 5px;

}