.get-started-button{
  background-color: rgb(121, 82, 179);
  color: white;
  border:none;
  border-color:rgb(121, 82, 179);
  border-style: solid;
  height: 46px;
  width: 150px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border-width: 2px;
  margin-left: 10px;
  cursor: pointer;
}
.donload-button {
  background-color: white;
  color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125);
  border-width: 1px;
  height: 46px;
  width: 150px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 8px;
  cursor: pointer;
}
.apply-on-comany-website-button{
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  border-color: rgb(10, 102, 194);
  border-style: solid;
  height: 52px;
  width: 300px;
  margin-top: 20px;
  font-size: 19px;
  font-weight: bold;
  border-radius: 80px;
  cursor: pointer;
}
.save-button{
  background-color: white;
  color: rgb(10, 102, 194);
  border-color: rgb(10, 102, 194);
  border-style: solid;
  height: 52px;
  width: 122px;
  border-radius: 60px;
  font-weight: bold;
  font-size:18px;
  border-width: 1.5px;
  margin-left: 10px;
  cursor: pointer;
}

