
.text-course {
  font-family: verdana;
  font-size: 25px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;

}
.text-beginner-pro {
  color: gray;
  margin-top: 0px;
  font-size: 22px;
  margin-bottom: 22px;
}
.text-course-content {
  font-size: 20px;
  font-family: Verdana;
  width: 350px;
  font-style: solid;
  margin-top: 0px;
  margin-bottom: 25px;

}
.button-get-start {
  background-color: green;
  border-color: green;
  border:green;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
  cursor: pointer;
  color: white;
  border-radius: 8px;
  font-size: 18px;

}
.button-get-start:hover {
  background-color: red;
  transition: 0.2s;

}