.text-biggest-deals {
  font-family: arial;
  font-size: 35px;
  font-weight: bold;
  margin-bottom:7px;
}
.text-sales-end {
  color: red;
  font-size: 20px;
  margin-top: 0px;
  font-family:arial;

}