.google-logo {
  width: 200px;
  display: block;
  text-align: center;
  margin-left: 600px;
  margin-bottom: 15px;
  


}
.google-search-box {
font-size: 26px;
margin-left: 500px;
width: 650px;
border-radius: 20px;
padding-top: 10px;
padding-bottom: 10px;
border:none;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);

}
